<div class="container mb-5">
    <h1>This is a dashboard page</h1>
    <div class="row">
        <div class="col-sm-9 bg-light border rounded-left rounded-lg mr-auto">
            <h2>Your Stocks Herererererrererererererererererererererererer</h2>
            <ul>
                {{#each stocks}}
                <li>
                    <span id="symbols">{{symbol}} </span><span id="prices">{{price}}</span>
                </li>
                {{/each}}
            </ul>
            <div class="card p-2">
                <h5 class="card-title">Your Charts</h5>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-3 pt-3 pb-3 border rounded-right rounded-lg sidebar">
            <h3>Your Favorites</h3>
            <ul id="favoriteList" class="list-group mb-5">
                {{#each favorites}}
                <li data-id="{{this.id}}" class="list-group-item">
                    <a>{{this.symbol}}</a>
                    <button class="btn btn-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
            </ul>
            <h4>Add a favorite stock</h4>
            <form>
                <div class="form-group">
                    <label for="symbolLabel">Symbol</label>
                    <input type="text" class="form-control" id="symbolInput" aria-describedby="symbolHelp"
                        placeholder="Enter symbol">
                    <small id="symbolHelp" class="form-text text-muted">Needs to be a valid stock symbol(i.e.
                        MSFT)</small>
                </div>
                <div class="form-group">
                    <label for="noteLabel">Note</label>
                    <input type="text" class="form-control" id="noteInput" placeholder="Enter Note">
                    <small id="noteHelp" class="form-text text-muted">(Optional, 1-144 characters)</small>
                </div>
                <button id="favoriteSubmit" type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="invalidSymbol">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Invalid Symbol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Please make sure you have entered a valid stock Symbol.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Load c3.css -->
<link href="/styles/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/js/c3.min.js"></script>
<script src="/js/dashboard.js"></script>