<div id="home">
  <div class="container-fluid">
    <div class="row">
    

  <!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="/videos/bgvid.mp4" type="video/mp4">
</video>



<!-- Optional: some overlay text to describe the video -->
<div class="content">
  <h1>WLCM TO</h1>
  <img src="/images/gitmoneyBW.png" class="img-fluid" id="logo" alt="Responsive image">
 




<script src="/js/index.js"></script>