<div class="container-fluid" id="secondary-search-menu">
    <ul class="nav justify-content-center bg-primary">
        <li class="nav-item">
            <a class="nav-link disabled" href="/search" tabindex="-1" aria-disabled="true"><i
                    class="fas fa-stopwatch"></i> LIVE SEARCH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/search-historical"><i class="fas fa-history"></i> SWITCH TO
                HISTORICAL SEARCH</a>
        </li>
    </ul>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row" id="jumbotron-text">
            <div class="col-md-6">

                <video class="video-background" preload="true" muted="true" autoplay="true" loop="true">
                    <source src="/videos/greenscreen.mov" type="video/mp4" />
                </video>
            </div><div class="col-md-5">
                <br>
                <br>
                <br>
                <h3 class= "text-right">You Can Do It!</h3>
                <p class="text-right"> Search for a stock
                    <i class="fas fa-search"></i> 
                        <br> View its performance history <i class="fas fa-chart-line"></i>
                            <br>GITMONEY <i class="fas fa-hand-holding-usd"></i> 
                </p>
                </div>


            
            </div>
    </div>
</div>

<div class="parallax"></br></br></br>
    <h1>
        <center>
            <id="quote">“An investment in knowledge pays the best interest.”
                <br>- Benjamin Franklin
        </center>
    </h1>
    </id>
</div>
<div class="search-div">
    <div class="text-center">
        <p><i class="fas fa-chart-bar"></i> Search for a stock and view its recent performance.<br>

            <form>

                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" id="symbolInput"
                            placeholder="Enter Stock Symbol (ex. MSFT)">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <select class="form-control" id="periodSelect">
                                <option value="TIME_SERIES_DAILY_ADJUSTED">100 Days</option>
                                <option value="TIME_SERIES_WEEKLY_ADJUSTED">100 Weeks</option>
                                <option value="TIME_SERIES_MONTHLY_ADJUSTED">100 Months</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block"><i
                            class="fas fa-search"></i> Search</button>
            </form>
    </div>
    <div class="arrow bounce">
        <a class="fas fa-chevron-down" href="#c3-display"></a>

    </div>
</div>
</div>





<div class="container-fluid" id="c3-display">
    <div class="row">
        <div class="col-md-12">

            <div id="stockNameHeader">
            </div>
            <div id="chart"></div>
        </div>
        <div class="col-md-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="emptyInput">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-exclamation-circle"></i> Empty Input</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Please make sure symbol input field is not empty.</h5>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="invalidSymbol">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-exclamation-circle"></i> Invalid Stock Symbol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Please make sure you have entered a valid stock symbol.</h5>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Load c3.css -->
<link href="/styles/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/js/c3.min.js"></script>
<script src="/js/search.js"></script>