
<div class="container mb-5">
    <h2>Search for stock history</h2>
    <form class="mb-5">
        <div class="form-group">
            <label for="symbolInput">Symbol</label>
            <input type="symbol" class="form-control" id="symbolInput" aria-describedby="emailHelp"
                placeholder="Enter stock symbol">
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="stockNameHeader"> 
    </div>
    <div id="chart"></div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Close</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>

<!-- Load c3.css -->
<link href="/styles/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/js/c3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/search.js"></script>