.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  }
  .navbar-light .navbar-nav .nav-link:hover {
  color: #1DCD9C;
  }


#secondary-search-menu {
  background-color: #000;
}

#dashboard-jumbotron  {
  background-image: url("/images/parabg.jpg"); 
  background-repeat: no-repeat;
  background-size:100%;
  margin: auto;
  padding: 10px 
}


.jumbotron {
  background-color:#1DCD9C !important; 
  position: relative;
  z-index: -3;
  height: 25rem;
  padding: 0px !important;
}

#jumbotron-text {
  padding-left: 3em;
}

#favorite-header {
  padding-top: .4rem;
}

.video-background {
  position: relative;
  float: left;
  overflow: hidden;
  z-index: -2;
  width: auto;
  height: 25rem;
  
}
.search-div {
  color: #fff;
  background-color: #000;
  height: 20rem; 
  padding-top: 3rem;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 10rem;
}

/* CUSTOM BUTTON COLORS */

.btn {
  background-color: #1DCD9C;
}

.delete {
  border-color: #1DCD9C;
}


.btn-primary {
  border-color: #000000;
}

.btn-primary:hover {
  background-color:#999 !important;
  border-color: #000000;

}

#team-button{
  border: #1DCD9C;
}
 .parallax {
  /* The image used */
  /* background-image: url("/images/parabg.jpg"); */
  opacity: 1;
  

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax::after {
  min-height: 300px; 
  content: "";
  background-image: url("/images/parabg.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -4;   
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#c3-display {
  display: none;
  background-color: #fff;
  padding-top: 5em;
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 5rem;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.75rem;
  
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size:3vw;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;  
  font-weight: 700;
  font-size:6vw;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size:5vw;
  font-weight: 700;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 2vw;
  font-weight: 700;
}

.list-group-item {
  line-height: 2.5;
}

.sidebar {
  background-color: wheat;
}

#apiCall {
  color: red;
}

.nav-item.active {
  color: teal;
  background-color: red;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  padding-right: 1em;
}

.bg-primary {
  padding-left: 4rem;
  color: #fff;
  background-color: #000 !important;
  font-family: 'Source Sans Pro', sans-serif;  

}

.nav-link.disabled {
  color: #1DCD9C;
}


.bg-light {
  padding-left: 4rem;
  color: #000;
  background-color: #fff!important;
  font-family: 'Source Sans Pro', sans-serif;  

}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.bg-dark {
  padding-left: 4rem;
  color: #000;
  background-color: #1DCD9C!important;
  font-family: 'Source Sans Pro', sans-serif;  

}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  /* float: left; */
  top: 0;
  background: #1DCD9C;
  color: #f1f1f1;
  width: 65%;
  height: 100%;
  padding: 0;
  opacity: 1;
  padding-top: 15rem;
  padding-left: 5rem;
}

#logo {
  width: 75%;
}



.fa-facebook:before {
  font-size: 1.5em;
  content: "\f09a";
}
.fa-github:before {
  font-size: 1.5em;
  content: "\f09b";
}

.fa-comment-dollar:before {
  font-size: 1.5em;
  content: "\f651";
}

#search-container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 10rem;
  /* background: #1DCD9C; */
}

#search-column {
  background: #1DCD9C;
  width: 65%;
  height: 100%;

}
/* TABLE SCROLLBAR */

.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
  }

  .table-wrapper-scroll-y {
  display: block;
  }

 /* BOUNCING ARROW */
  
  body { background: @bg;}
  a { color: white; text-decoration: none; }
  
  .arrow {
    text-align: center;
    margin: 8% 0;
    font-size: 6vh;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

    @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  /* ERROR MODAL */
#emptyInput {
  color: #000;
}

#favorite-searchbar-div {
background-color: #000;
padding-top: 2rem;
padding-bottom: 2rem;
padding-right: 20%;
padding-left: 20%;
color: #fff;
}

#favorite-display-div {
  background-color: #000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  /* min-height: 500px;  */
  }

  .stockLink {
    background-color:#E8E8E8;
    border-radius: 4px;
  }

  .deleteChart {
    background-color: #1DCD9C;
    border-radius: 4px;
    color: #fff;
  }

@media only screen and (max-width: 600px) {
  .content {
  position: fixed;
  top: 0;
  background: #1DCD9C;
  color: #f1f1f1;
  width: 100%;
  height: 65%;
  padding: 0;
  opacity: .97;
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;

  }
  #logo {
    width: 100%;
    }
  h1 {
    font-family: 'Roboto Slab', serif;
      font-size:5vw;
    }
}
