.list-group-item {
  line-height: 2.5;
}

.sidebar {
  background-color: wheat;
}

#apiCall {
  color: red;
}

.nav-item.active {
  color: teal;
  background-color: red;
}

.bg-light {
  background-color: #1DCD9C!important;
}

/* body {background-color:#1DCD9C;
} */

/* #home {
  background-color: #999999;
} */